.intro{
    display: flex;
    justify-content: center;
}
@media(max-width:767px){
    .intro{
        flex-direction: column;
    }
}
.intro__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 500;
    gap:30px;
    text-align: center;
    background: url('../img/dog_wallpaper.jpeg');
    width: 30%;
    background-repeat: no-repeat;
    background-size: 400%;
    
}
@media (max-width:767px) {
    .intro__description{
        width: 100%;
        font-size: 32px;
        padding: 30px;
    }
}
.carousel{
    width: 70%;
}
@media (max-width:767px) {
    .carousel{
        width: 100%;
    }
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding:80px 0;
    
}
@media (max-width:767px) {
    .cards{
        padding:32px
    }
}
.card{
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background-color: rgb(254, 251, 246);
}
@media (max-width:767px) {
    .card{
        display: grid;
        grid-template-areas:
        "card__title"
        "card__img"
        "card__description"
        "card__btn"
        ;
        gap: 15px;
    }
    
}
.card img{
    width: 500px;
    height: 500px;
    background-size: cover;
    border-radius: 10px;
}
@media (max-width:767px) {
    .card img{
        width: 350px;
        height: 350px;
        grid-area : card__img;
    }
}
.description{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
@media (max-width:767px) {
    .description{
        display: contents;
    }
}
.card__title{
    font-size: 50px;
    font-weight: 700;

}
@media(max-width:767px){
    .card__title{
        grid-area: card__title;
        font-size: 24px;
    }
}
.card span{
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.highlight--friend{
    background: linear-gradient(277deg, #1a930f 59.22%, #dab875 93.66%);
}
.highlight--happy{
    background:linear-gradient(277deg, blue,orange);
}
.highlight--24hours{
    background: linear-gradient(277deg,purple,rgb(188, 188, 1));
}
.card__description{
    font-size: 20px;
    color: gray;
    line-height: 150%;
}
@media(max-width:767px){
    .card__description{
        grid-area: card__description;
        font-size: 15px;
    }
}

.card__btn{
    background: linear-gradient(50deg,rgb(246, 161, 4) 30%, rgb(252, 208, 136));
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 22px;
    padding: 16px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.card__btn:hover{
    color: black;
}
@media(max-width:767px){
    .card__btn{
        grid-area: card__btn;
        font-size: 15px;
    }
}